@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat";
  color: var(--main-font-color);
  transition: background-color 0.5s, color 0.5s;
}
:root {
  --main-font-color: #3C3232;
}
a {
  color: inherit;
}
.hero {
  height: 100vh;
  width: 100%;
  background-color: #F0F0F0;
  position: relative;
  display: flex;
}
.header {
  height: 80px;
  width: 75%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-header {
  margin-bottom: -4px;
  position: absolute;
  top: 0;
  right: 0;
  height: 80px;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  font-size: 34px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--main-font-color);
  margin-left: 20px;
  cursor: pointer;
}
.login-button {
  font-size: 22px;
  font-weight: 400;
  margin-right: 20px;
  background-color: #ffffff;
  border: 1px solid #E6DEDE;
  border-radius: 12px;
  padding: 6px 18px;
}
.login-button-hidden {
  font-size: 22px;
  font-weight: 400;
  padding: 6px 18px;
  display: none;
}
.left-container {
  height: 100%;
  width: 75%;
}
.top-row {
  height: 60%;
  width: 100%;
  display: flex;
}
.col {
  width: 33.3%;
  height: 100%;
}
.c-two {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.search-location {
  position: relative;
}
#searchBar {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.location-button {
  height: 100%;
  width: auto;
  position: absolute;
  right: 2px;
  top: 3px;
  margin-left: 2vh;
  border-radius: 20px;
}
.location-b {
  cursor: pointer;
  color:#817272;
  font-size: 32px;
}
.main-temp {
  font-size: 140px;
  font-size: calc(7vw + 130%);
  font-size: 130px;
  font-weight: 600;
  filter: drop-shadow(1px 1px 2px #000);
}
.main-condition {
  font-size: 30px;
  font-weight: 400;
  color: #625353;
}
.location {
  font-weight: 500;
  margin-top: 12vh;
}
.c-three {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}
.c-three h1 {
  margin-top: 2vh;
  font-weight: 400;
  color: #625353;
}

.c-three-container-one {
  margin-top: 12vh;
}

.c-three-container-one, .c-three-container-two {
  display: flex;
  align-items: center;
}

.c-three-container-one {
  margin-bottom: 2vh;
}

.c-three-container-one h1, .c-three-container-two h1 {
  margin: 0;
}

i {
  font-size: 40px;
  color: #625353;
  margin-right: 1vh;
}

.bottom-row {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin-top: 2vh;
  width: 20vh;
  height: 22vh;
  border-radius: 12px;
  margin-left: 1vh;
  border: 2px solid #E6DEDE;
  background: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card h1 {
  color: var(--main-font-color);
  font-weight: 500;
  font-size: 21px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.card h2 {
  font-size: 28px;
  font-weight: 600;
  color:#817272;
  color: #3C3232;
}

.card h3 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 2vh;
}

#card-icon {
  font-size: 45px;
  color: #817272;
  color: #3C3232;
  margin-top: 1vh;
}

.right-container {
  height: 100%;
  width: 25%;
  background-color: #dadada;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-head {
    margin-top: 60px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    width: 100%;
}

.side-temp {
    font-size: 66px;
    font-weight: 600;
    margin-top: 4px;
}

.hourly {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hour1, .hour2, .hour3, .hour4, .rain4, .rain3, .rain2, .rain1 {
  font-weight: 500;
  font-size: 20px;
  margin-left: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.rain4, .rain3, .rain2, .rain1 {
  font-weight: 400;
}
.time1, .time2, .time3, .time4 {
  font-weight: 400;
  font-size: 18px;
  margin-left: 5px;
  height: 100%;
  display: flex;
  align-items: center;
}
.micro-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rain4 i, .rain3 i, .rain2 i, .rain1 i {
  font-size: 24px;
}

.hour-container {
  height: 10%;
  width: 80%;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid #3C3232;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message {
  font-weight: 500;
}

.side-condition {
  font-weight: 400;
  color: #625353;
  font-size: 26px;
}

.current-time, .title-hourly {
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 1100px) {
  .main-temp {
    font-size: 110px;
  }
  .current-wind, .current-rain {
    font-size: 28px;
  }
  i {
    font-size: 34px;
  } 
}
@media (max-width: 1024px) {
  .current-wind, .current-rain {
    font-size: 26px;
  }
  i {
    font-size: 32px;
  }
  .right-container {
    position: relative;
  }
  .card {
    margin-left: 0.5vh;
    margin-top: 0vh;
    width: 18vh;
    height: 20vh;
  }
  .card h1 {
    font-size: 20px;
  }
  .next-temp1, .next-temp2, .next-temp3, .next-temp4 {
    font-size: 24px;
  }
  .card h3 {
    font-size: 20px;
  }
  .header {
    width: 100%;
  }
  .right-header {
    width: 100%;
  }
  .hero {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .left-container {
    height: 100vh;
    width: 100%;
  }
  .right-container {
    width: 100%;
    height: 80vh;
  }
  /*
  .left-container {
    height: 100vh;
    width: 100%;
  }
  .right-container {
    width: 100%;
    height: 80vh;
  }
  .left-container {
    height: 110vh;
  }
  .top-row {
    display: flex;
    flex-direction: column;
    height: 50%;
  }
  .c-one {
    display: none;
  }
  .c-two {
    width: 100%;
    height: 60%;
  }
  .c-three {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
  }
  .c-three-container-one {
    margin: 0;
  }
  .c-three-container-two {
    margin: 0;
    margin-top: 1vh;
  }
  */
  .main-condition {
    font-size: 30px;
  }
} 
@media (max-width: 900px) {
  .card {
    width: 16vh;
    height: 18vh;
  }
  .card h1 {
    font-size: 18px;
  }
  .next-temp1, .next-temp2, .next-temp3, .next-temp4 {
    font-size: 22px;
  }
  .card h3 {
    font-size: 18px;
  }
  .main-condition {
    font-size: 24px;
  }
  .main-temp {
    font-size: 90px;
  }
  .bottom-row {
    margin: auto;
    width: 70%;
  }
}
@media (max-width: 768px) {
  #searchBar {
    display: none;
  }
  .location-button {
    display: none;
  }
  .left-container {
    height: 100vh;
    width: 100%;
  }
  .right-container {
    width: 100%;
    height: 80vh;
    /* display: flex;
    flex-direction: row; */
  }
  .left-container {
    height: 110vh;
  }
  .top-row {
    display: flex;
    flex-direction: column;
    height: 50%;
  }
  .c-one {
    display: none;
  }
  .c-two {
    width: 100%;
    height: 60%;
  }
  .c-three {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
  }
  .c-three-container-one {
    margin: 0;
  }
  .c-three-container-two {
    margin: 0;
    margin-top: 1vh;
  }
}
@media (max-width: 390px) {
  .bottom-row {
    width: 100%;
  }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #272F36; /* Toggle color in dark mode */
}

input:checked + .slider:before {
  transform: translateX(26px);
}



body .dark-mode{
  color: #aeaeae;
}

.dark-mode-parent.right-container {
  background-color: #272F36;
}

.dark-mode-parent.right-container .hour-container{
  border-color: #aeaeae;
}

.dark-mode-parent.hero {
  background-color: #364450;
}

.dark-mode-parent.bottom-row .card {
  background-color: #272F36;
}

.dark-mode-parent.search-location input {
  background-color: #333;
}


.preloader {
  background-color: #F0F0F0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
}
.spinner {
  width: 8vmax;
  height: 8vmax;
  border-right: 4px solid #bbb;
  border-radius: 100%;
  animation: spinRight 800ms linear infinite;
  
  &:before, &:after {
    content: '';
    width: 6vmax;
    height: 6vmax;
    display: block;
    position: absolute;
    top: calc(50% - 3vmax);
    left: calc(50% - 3vmax);
    border-left: 3px solid #bbb;
    border-radius: 100%;
    animation: spinLeft 800ms linear infinite;
  }
  
  &:after {
    width: 4vmax;
    height: 4vmax;
    top: calc(50% - 2vmax);
    left: calc(50% - 2vmax);
    border: 0;
    border-right: 2px solid #bbb;
    animation: none;
  }
}

@keyframes spinLeft {
  from {transform:rotate(0deg);}
  to {transform:rotate(720deg);}
}

@keyframes spinRight {
  from {transform:rotate(360deg);}
  to {transform:rotate(0deg);}
}

